.Blog-header {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Blog-info {
  margin-left: 1rem;
  border-bottom: 5px solid lightgray;
  margin-bottom: 50px;
  padding-bottom: 20px;
}